.home {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding: 50px;
  background: linear-gradient(135deg, #050505, #050505); /* Dark Gray Gradient */
}

.hero-section {
  max-width: 800px;
  margin: 0 auto;
}

.hero-title {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero-subtitle {
  font-size: 1.5rem;
  margin-bottom: 30px;
}

/* Search Form */
.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.search-container {
  display: flex;
  align-items: center;
  background: #050505;
  padding: 0px;
  border-radius: 8px;
}

.search-input {
  width: 300px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  background-color: #050505;
  color: white;
}

.search-button {
  background-color: #e50914;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-left: 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #b20710;
}

/* Responsive Design */
@media (max-width: 768px) {
  .hero-title {
    font-size: 2.5rem;
  }

  .hero-subtitle {
    font-size: 1.2rem;
  }

  .search-container {
    flex-direction: column;
    width: 100%;
  }

  .search-input {
    width: 100%;
    margin-bottom: 10px;
  }

  .search-button {
    width: 100%;
  }
}

.f-element {
  padding: 50px;
}
